{% extends 'base.html' %} {% block content %}
  <div class="max-w-3xl text-b mx-auto flex">
    <h1 class="text-xl">My projects</h1>
    <a href="{% url 'projects:project-create' %}">Create a new project</a>
  </div>
  <div class="max-w-3xl mx-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Owner
                </th>
                <th scope="col" class="px-6 py-3">
                    Created
                </th>
                <th scope="col" class="px-6 py-3">
                    Last updated
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    <a href="{% url 'projects:project-detail' project.slug %}">
                      {{ project.name }}
                    </a>
                </th>
                <td class="px-6 py-4">
                    {{ project.owner.username }}
                </td>
                <td class="px-6 py-4">
                    {{ project.created_at }}
                </td>
                <td class="px-6 py-4">
                    {{ project.updated_at }}
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="{% url 'projects:project-update' project.slug %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
